#.github > workflows > deply.yml
name: Deploy To EC2
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4

      - name: AWS Resources 설정
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: ECR 로그인
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Docker 이미지 빌드
        run: docker build -t p-project .

      - name: Docker 이미지 태그
        run: docker tag p-project:latest ${{ steps.login-ecr.outputs.registry }}/p-project:latest

      - name: Docker 이미지 푸시
        run: docker push ${{ steps.login-ecr.outputs.registry }}/p-project:latest

